@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');
* {
  font-family: 'Karla', sans-serif;
}
.container {
  width: 550px;
  height: 550px;
  margin: auto;
  background: #1F2937;
  padding: 25px;
}

h1:first-line {
  color: white;
}

h1 {
  color: #10B981;
  margin-top: 155px;
  margin-bottom:0;
  font-weight: extra-bold;
}

p, label {
  color: #D5D4D8;

}
hr {
  color: white;
}

button {
    background: #10B981;
    border: none;
    padding: 10px;
    border-radius: 6px;

}
main button {

      display: flex;
    justify-content: space-evenly;
    align-items: center;
  width: 223px; 
  color: #FFFFFF;
  margin-bottom: 15px;
  font-weight: 500;

}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

section button {
  width: 260px;
  background:#273549;
  margin: 15px 0;
  height: 42px;
  color: #10B981;
  font-family: monospace;
}


hr {
  color: 
#2F3E53;
}